*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.container{
    margin: 0 auto;
    width: 80%;
    flex-wrap: wrap;
    padding: 5px;

    /*Debug*/
    height: 700px;
    background-color: cadetblue;
}

.flex{
    display: flex;
}

.col{
    width: calc(100% / 3);
    padding: 10px;
    
    /*Debug*/
    background-color: brown;
    border: 1px solid black;
}
.card{
    width: 100%;
    padding: 5px;
    /* Debug */
    background-color: blueviolet;
    
}

.designers{
    font-size: 0.8rem;
    display: block;
}

.d-none{
    display: none;
}