*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.container{
    margin: 0 auto;
    width: 80%;
    flex-wrap: wrap;
    padding: 5px;
    padding-top: 120px;
}

.flex{
    display: flex;
}

.col{
    width: calc(100% / 3);
    padding: 10px;
    
    
}
.card{
    width: 100%;
    padding: 5px;
    
    
}

.block{
    display: block;
}

.d-none{
    display: none;
}

.ref{
    position: relative;
}

.abs{
    position: absolute;
}

.designers{
    font-size: 0.8rem;
}

.product-desc{
    font-weight: 600;
}

.icon.abs{
    top: 10px;
    right: 0;
    padding: 5px 8px;
    font-size: 1.4rem;
    color: black;
    background-color: white;
    z-index: 1;
}

.icon:hover{
    color: red;
    cursor: pointer;
}

.cost{
    font-size: 0.8rem;
}

.cost.new{
    color: red;
    font-weight: 600;
}

.cost.old{
    text-decoration: line-through;
}

.cont.abs{
    bottom: 20px;
}

.sale,
.sustain{
    padding: 5px;
    font-size: 0.8rem;
    font-weight: 600;
    color: white;
}

.sale{
    background-color: #ff0000;
}

.sustain{ 
    background-color: #008000;
}

/*hover image*/
.ontop{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.ontop:hover{
    opacity: 1;
}

/*header*/
.banner{
    width: 100%;
    min-height: 60px;
    background-color:#ff6900;
    
    align-items: center;
    position: fixed;
    z-index: 999;
    
}

.logo{
    width: 60%;
    text-align: center;
}

.logo img{
    width: 100px;
    height: 25px;
    margin: 10px;
}

.categorie,
.profile{
    width: 20%;
    color: white;
    font-weight: 500;
    margin: 10px 10px;
    text-align: center;
}

header ul,
footer ul{
    list-style: none;
}

header li{
    display: inline-block;
    margin-right: 10px;
}
/*Fine header */

.footer-cl{
    min-height: 60px;
    background-color: #1a1a1a;
}

.info,
.contacts{
    width: 50%;
    color: white;
    font-size: 0.8rem;
}

.subtitle{
    margin: 10px 20px;
}

.info li,
.contacts li{
    display: inline-block;
    margin: 10px 10px;
}

.txt-l{
    text-align: left;
}

.txt-r{
    text-align: right;
}